@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
    scroll-behavior: smooth;
}

.showcase{
    height: 70vh;
    background-image: url("/image/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em;
}

.showcasetext{
    margin: auto;
    margin-top: 10em;
}

h1{
    font-family: 'Poppins', sans-serif;
}

.cta{
    width: 15em;
}


.about{
    margin-top: 8em;
}

.about h1::after{
    content:" ";
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 4px;
    width: 55px;
    background-color: #6C757D;
}


.ourservices{
    background-color: #6C757D;
}

.service{
    margin-top: 10em;
    padding: 5em;
}

.service h1::after{
    content:" ";
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 4px;
    width: 55px;
    background-color: #ffffff;
}

.card a{
    background-color: #001C5B;
    color: white;
}

#action{
    margin-top: 8em;
    background-image: url(/image/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.479);
    margin-bottom: 5em
}

.link button{
    border: none;
    border-radius: 4px;
}

.contactus{
    margin-top: 8em;

}

a{
    text-decoration: none;
}

.contactus h1::after{
    content:" ";
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 4px;
    width: 55px;
    background-color: #ffffff;
}

.page-footer{
    background-color: #001C5B;
    margin-top: 2em;
    padding: 2em;
}

